/* ---------- CONTACT PAGE ---------- */

.contact-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input,
.contact-form textarea{

    width:100%;

    padding:15px;

    border:none;

    border-radius:8px;

    background:#EAE3D7;

    font-size:1rem;

}

.contact-form textarea{

    resize:vertical;

}

.contact-form button{

    background:#B8A36A;

    color:white;

    border:none;

    padding:15px;

    border-radius:8px;

    font-size:1rem;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

}

.contact-form button:hover{

    background:#9D8855;

}